<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Listado de Actores</h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Peliculas del actor</h2>
        <p>listado de peliculas que tiene el actor</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Pais del actor</h2>
        <p>detalle del pais del que es el actor</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Detalle del actor</h2>
        <p>toda la informacion del actor</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>